body
{
    padding: 0;
    margin: 0;
}

/* Menu */
@media all and (min-width:700px)
{ 
    header img{
        width: 100%;
    }
    #menubutton{
        display: none;
    }
    #menu-bar
    {
        width: 100%;
        display: flex;
        justify-content: space-around;
        height: auto;
        box-sizing: border-box;
        padding: 0;
        border-top: 1px solid black;
        border-bottom:  1px solid black;
    }

    #menu-bar > div
    {
        border: 1px solid gray;
        border-top: 0px;
        border-bottom: 0px;
        text-align: center;
        padding: 0;
        width: 20%;
        height: 100%;
        margin: 0;
        box-sizing: border-box;
    }
    /* login */
    #loginmenu
    {
        position: relative;
        display: inline-block;
    }

    #loginmenu div
    {
        width: 100%;
    }

    #dropdown {
        text-align: initial;
        box-sizing: border-box;
        position: absolute;

        background-color: white;
        border: solid 1px black;
        border-top: 0px;
        padding: 12px 16px;
        z-index: 1;
    }

    #dropdown form input{
        margin-bottom: 5px;
        width: 100%;
    }

    #loginmenu:hover #dropdown {
        display: block;
    }

    .show {
        display: block;
    }

    .hide {
        display: none;
    }

    #login_redirect{
        display: none;
    }

    #ddlogin{
        padding: 0.5em;
    }
    #logout{
        display: none;
    }
}

@media all and (max-width:699px)
{
    body{
        font-size: 150%;
    }

    nav{
        display: none;
    }
    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #titlepic{
        width: 70%;
        padding: 0px 15px;
        box-sizing: border-box;
    }

    header img{
        width: 100%;
    }

    #menubutton{
        box-sizing: border-box;
        padding:7%;
        width: 30%;
        height: 100%;
    }

    #menu-bar
    {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        height: auto;
        box-sizing: border-box;
        padding: 0;
        border-top: 1px solid black;
        border-bottom:  1px solid black;
    }

    #menu-bar > div
    {
        border: 1px solid gray;
        border-left: 0px;
        border-right: 0px;
        text-align: center;
        padding: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        box-sizing: border-box;
    }
    .show {
        display: none;
    }

    .hide {
        display: none;
    }

    .MenuShow {
        display: flex;
    }

    .MenuHide {
        display: none;
    }

    #ddlogin{
        display: none;
    }

    #logn_redirect{
        display: block;
    }
    #logout
    {
        border-top: 2px solid gray;
        text-align: center;
        padding: 0.5em;
        width: 100%;
        height: 100%;
        margin: 0;
        box-sizing: border-box;
    }
}

.MenuButton{
    display: block;
    padding: 0.5em;
}


.flex-films{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0px;
}

.flex-film{
    display: block;
    width: 300px;
    height: 400px;
    flex-shrink: 2;
    border: solid black 1px;
    margin: 10px 20px;
}

