body
{
    padding: 0;
    margin: 0;
}

/* header */
header img{
    width: 100%;
}

/* Menu */
/* minimalna szerokość 700 px */
.menu-bar
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: auto;
    box-sizing: border-box;
    padding: 0;
    border-top: 1px solid black;
    border-bottom:  1px solid black;
}

.menu-bar > div
{
    border: 1px solid gray;
    border-top: 0px;
    border-bottom: 0px;
    text-align: center;
    padding: 0.5em;
    width: 20%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

/* login */
#loginmenu
{
    position: relative;
    display: inline-block;
}

#loginmenu div
{
    width: 100%;
}

#dropdown {
    text-align: initial;
    min-width: 200px;
    position: absolute;
    right: 1px;
    margin-top: 1px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#dropdown input{
    margin-bottom: 5px;
}

#loginmenu:hover #dropdown {
    display: block;
}

.show {
    display: block;
}

.hide {
    display: none;
}

