/* login */
#ddlogin
{
    height: 2em;
    width: 2em;
}

#login
{
    position: relative;
    display: inline-block;
    float: right;
}

#login i
{
    font-size: 200%;
}

#dropdown {
  position: absolute;
  right: 0;
  float: right;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

#login:hover #dropdown {
  display: block;
}

.show {
    display: block;
}

.hide {
    display: none;
}


/* header */
header img{
    max-width: 100%;
}