main
{
    padding: 10px;
}

#center{
    margin: auto;
    width: fit-content;
    align-items: center;
    text-align: center;
}

form{
    width: fit-content;
}

.seat{
    height: 40px;
    width: 40px;
}
