@media all and (min-width:700px)
{ 
    main{
        width: fit-content;
        margin: auto;
        align-items: center;
        text-align: center;
    }
    main  > form > input
    {
        margin-bottom: 5px;
    }
}

@media all and (max-width:699px)
{
    main{
        border: 0px;
        margin: 0px;
        padding: 5%;
        font-size: 150%;
    }

    main  > form > input
    {
        margin-bottom: 5px;
        width: 100%;
        font-size: 110%;
        box-sizing: border-box;
    }    
}